{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=EB Garamond" rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm">
      <a href="{% url 'home'%}" class="navbar-brand"><img src="{% static 'images/Lets.png' %}" alt="" width="150" height="150" class="img-fluid logo"></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="fa fa-bars " style="float: right;"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
             <li class="nav-item">
              <a href="{% url 'hom3' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
            <a href="{% url 'aboutus' %}" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'faq' %}" class="nav-link">FAQ's</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'contactus' %}" class="nav-link">Contact Us</a>
          </li>
            <li class="nav-item" id="user">
                <a href="{% url 'profilephotoupload' %}" role="button" class="btn btn-primary text-white" class="prof"><span class="fa fa-user"></span> View Profile</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" role="button" class="btn btn-warning text-white logout"><span class="fa fa-sign-out"></span> Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">Getting Started</a>
             </li>
          <li class="nav-item">
            <a href="{% url 'aboutus' %}" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'faq' %}" class="nav-link">FAQ's</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'contactus' %}" class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'register' %}" class="btn btn-warning register">Register</a>
          </li>
          <br>
          <li class="nav-item">
            <a href="{% url 'login' %}" class="btn btn-success login">Login</a>
          </li>
            {% endif %}
        </ul>
      </div>
    </nav>
      <br><br>
      <section>
        <div class="container-fluid fade-in">
          <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
              <img src="{% static 'images/Customer-Service.jpg' %}" alt="" class="img-fluid mx-auto d-block">
            </div>
          </div>
        </div>
        <br><br>
        <div class="container">
          <div class="row fade-in">
            <div class="col">
              <h1 class="text-center">Drop Us A Line</h1>
              <div class="justify-content-left" id="cover">
                <form action="">
                  <div class="form-group">
                    <label for="usr" class="label1">UserName : </label>
                    <input type="text" placeholder="Enter Your Username" class="form-control inp" id="usr" name="username" required  autocomplete="name">
                  </div>
                  <div class="form-group">
                    <label for="phn" class="label1">Phone Number : </label>
                    <input type="tel" placeholder="Enter Your Phone Number" class="form-control inp" id="phn" name="phn Number" required  autocomplete="tel">
                  </div>
                  <div class="form-group">
                    <label for="text" class="label1">Problem Description : </label>
                    <textarea name="feedback" id="text" cols="30" rows="5" class="form-control inp" placeholder="Please specify the problem "></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary btns">Submit</button>
                </form>
              </div>
              <div class="float-right" id="cover1">
                <img src="{% static 'images/contact us.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <br><br>
      <footer class="footer-area footer--light">
      <div class="footer-big">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="footer-widget">
                <div class="widget-about">
                  <a href="home.html"><img src="{% static 'images/Lets.png' %}" alt="" class="img-fluid rounded-circle" width="230" height="230"></a>
                  <p>Let's Connect</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-widget">
                <div class="footer-menu footer-menu--1">
                  <h4 class="head">Quick Links</h4>
                  <br>
                  <ul>
                    <li><a href="{% url 'home' %}">Getting Started</a></li><br>
                    <li><a href="{% url 'aboutus' %}">About Us</a></li><br>
                    <li><a href="{% url 'faq' %}">FAQ's</a></li><br>
                    <li><a href="{% url 'contactus' %}">Contact Us</a></li><br>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <h3 class="head">Contact Us on:</h3>
                <span class="fa fa-phone">&nbsp;<a href="tel: 9154866484" style="text-decoration:none;"><span id="a">Customer Service</span></a></span><br>
              <span class="fa fa-envelope"> <a href="mailto:quicklearner838@gmail.com" style=text-decoration:none;><span id="a">quicklearner838@gmail.com</a></span>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="social-icons">
                <h3 class="head">Follow Us </h3>
                <a><span class="fa fa-instagram"></span></a>&nbsp;
                <a><span class="fa fa-linkedin"></span></a>&nbsp;
                <a><span class="fa fa-facebook"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
      <script>
        const faders = document.querySelectorAll(".fade-in");
        const appearOptions = {
          threshold : 0,
          rootMargin : "0px 0px -250px 0px"
        };
        const appearonscroll=new IntersectionObserver(function
        (entries,appearonscroll){
          entries.forEach(entry =>{
            if(!entry.isIntersecting){
              return;
            }else{
              entry.target.classList.add("appear");
              appearonscroll.unobserve(entry.target);
            }
          })
        },appearOptions);

        faders.forEach(fader => {
          appearonscroll.observe(fader);
        })

      </script>
</body>
</html>




