*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.login-box{
    width: 450px;
    height: 600px;
    background: rgba(0,0,0,0.5);
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-54%,-50%);
    box-sizing: border-box;
}
.avatar{
    width:100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%-50px);
}
.nam1{
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 50px;
}
.nam2{
    width: 220px;
    margin-top: -30px;
    margin-left: 160px;
}
.nm3{
    margin-left: 50px;
}
.sub{
    width: 120px;
    margin-left: 150px;
}
.sub:hover{
    background:white;
    color:blue;
    font-weight: bold;
}
h1{
    margin-left: 45px;
    margin-top: 50px;
    color: white;
}
@media (max-width: 768px){
    .login-box{
        width: 320px;
        height: 480px;
        margin-left: 5px;
    }
    .avatar{
        width: 50px;
        height: 50px;
        top: -30px;
    }
    body{
        width: 320px;
        height: 679px;
    }
    .nam1{
        margin-top:30px;
        margin-left: 20px;
    }
    .nam2{
        width: 140px;
    }
    .nm3{
        margin-left: 20px;
    }
    h1{
        font-size:28px;
    }
    .sub{
        margin-left: 100px;
    }
    .nm1{
        margin-top: -10px;
    }
}