*{
     margin: 0;
    padding: 0;
    font-family: "EB Garamond";
    text-decoration: none;
    list-style: none;
}
.logo{
    border-radius: 50%;
}
ul li a{
    color: black;
    font-weight: bold;
}
ul li a:hover{
    color: #6517dd;
}
.nav-item{
    padding-left:30px;
    font-size:22px;
}
.login{
    /*margin-left: 500px;*/
    width: 100px;
    font-size:22px;
    color: white;
}
.register{
    margin-left: 450px;
    width: 100px;
    font-size:22px;
    color: white;
}
.login:hover{
    background: #ff3131;
    border:1px solid #ff3131;
    color: white;
}
.register:hover{
    background: blue;
    border:1px solid blue;
    color: white;
}
.inp{
    width: 400px;
    margin-left: 40px;
}
#cover {
    background: #000;
    width: 500px;
    height: 550px;
    text-align: left;
    display: flex;
    align-items: left;
    position: relative;
    border-radius: 15px;
}
.label1{
    font-size:25px;
    color: gold;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 30px;
}
.btns{
    width: 100px;
    text-align: center;
    margin-left: 200px;
    font-size:20px;
}
#cover1{
    margin-top: -540px;
    margin-left: 10px;
}
h1{
    padding: 20px;
    font-size:45px;
    font-weight: bolder;
    color: green;
    text-shadow: 1px 1px black;
}
.footer-big {
    padding:25px 0 5px 0;
}
.footer-big .footer-widget {
    margin-bottom:20px;
}
.footer--light {
    background: black;
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
    color:#898b96;
}
.footer-menu {
    padding-left:48px;
}
.footer-menu ul li a {
    font-size:23px;
    line-height:22px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    text-decoration: none;
}
.footer-menu ul li a:hover {
    color:#5867dd;
}
.footer-menu--1 {
    width:80%;
}
.footer-widget-title {
    line-height:42px;
    margin-bottom:10px;
    font-size:18px;
}
.widget-about img {
    display:block;
    margin-bottom:30px;
}
.head{
    color: white;
    font-size: 27px;
}
.head1{
    color: white;
    font-size: 27px;
    margin-left: 30px;
}
.he1{
    font-size: 20px;
    color: white;
}
.social-icons{
    margin-top: 60px;
    margin-left: 30px;
    font-size:40px;
    color: coral;
}
.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}
.from-left{
    grid-column: 2/3;
    transform:translateX(-50%);
}
.from-right{
    grid-column:3/4;
    transform:translateX(50%);
}
.from-left,
.from-right{
    transition:transform 400ms ease-in;
}
.from-left.appear,
.from-right.appear{
    transform:translateX(0);
}
@media(max-width:852px){
    .nav-item{
        padding: 0;
    }
    .login{
        margin: 0;
    }
    .register{
        margin: 0;
    }
    .login{
        margin: 0;
    }
    .register{
        margin: 0;
    }
    .inp{
        width: 260px;
        margin-left: 10px;
    }
    #cover{
        width: 290px;
        height: 550px;
    }
    .btns{
        margin-left:100px ;
    }
    #cover1{
        margin: 0;
    }
    #cover1 img{
        width: 300px;
        height: 250px;
    }
}